<form action="/store" method="POST">
    <div class="mb-3">
        <label for="nama" class="form-label">Nama Orang</label>
        <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukan nama orang" required>
    </div>
    <div class="mb-3">
        <label for="deskripsi" class="form-label">Deskripsi</label>
        <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3" placeholder="Tuliskan sesuatu..." required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Simpan</button>
</form>