<div class="text-center">
    <h1>Halo, Selamat Datang!</h1>
    <p>Ini merupakan website sederhana yang saya buat untuk latihan express js.</p>
    <img src="img/gak-bahaya-ta.jpeg" alt="gak bahaya ta?" class="img-thumbnail shadow">
</div>