<article>
    <header class="text-center">
        <h1>Halo, Selamat Datang!</h1>
        <p>Ini merupakan website sederhana yang saya buat untuk latihan express js.</p>
    </header>

    <hr>

    <div class="content">
        <figure class="text-center">
            <img src="img/malas-menanggapi.jpg" width="250" alt="gak bahaya ta?" class="img-thumbnail shadow-sm" title="Malas menanggapi">
            <figcaption>Malas menanggapi</figcaption>
        </figure>
        <p>
            Saya di sini membuat sebuah fitur yang namanya <a href="/daftar-orang">daftar orang</a>. Inti dari fitur itu simpel sesuai namanya, mendata orang terus disimpan. dah gitu aja, HIHIHIHA!
        </p>
    </div>
</article>